* {
    padding: 0;
    margin-bottom: .5em;
}

.mistake-body {
    display: flex;
    justify-content: space-evenly;
}

.card {
    height: 20em;
    width: 35rem;
}

.card-img-top {
    height: 70vh;
    width: 30vh;
}

.iS {
    font-style: italic;
}

.mistakes {
    display: flex;
    justify-content: center;
    font-family: "Brush Script MT";
}

.card-img {
    width: 100vw;
    height: 70vh;
}