* {
    padding: 0;
    margin-bottom: .5em;
}

.mistake-body {
    display: flex;
    justify-content: space-evenly;
}

.card-img-top {
    height: 70vh;
    width: 30vh;
}

.mistakes {
    display: flex;
    justify-content: center;
    font-family: "Brush Script MT";
}

.card-img {
    width: 100vw;
    height: 80vh;
}

@keyframes blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

.dot {
    animation: blink 2s infinite;
}